{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": ["@babel/plugin-transform-modules-umd"]
    },
    "production": {
      "presets": [
        "@babel/preset-env",
        "minify"
      ],
      "plugins": ["@babel/plugin-transform-modules-umd"]
    }
  }
}
